.breadcrumbs {
  font-family: Tahoma, sans-serif;
  font-size: 70%;
  color: #666666;
  display: flex;

  margin-bottom: 20px;
}

.breadcrumbs > span:nth-child(odd) {
  text-decoration: underline;
  margin: 0 2px;
}

.breadcrumbs > span:nth-child(even), .breadcrumbs > span:last-child {
  text-decoration: none;
}