.comment {
  display: flex;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #fff2d8;
}

.actualPhoto {
  width: 90px;
  height: 90px;
  object-fit: cover;
  object-position: center;
}

.stars {
  display: flex;
  gap: 1px;
}
.stars > * {
  width: 12px;
  height: 12px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/icon-star-grey.svg");
}
.stars > *.yellow {
  background-image: url("../img/icon-star-yellow.svg");
}

.icons {
  margin-top: 2px;
  display: flex;
  gap: 8px;
}

.icons > * {
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.icons > *:nth-child(1) {
  background-image: url("../img/icon-under-avatar-1.gif");
}
.icons > *:nth-child(2) {
  background-image: url("../img/icon-under-avatar-2.gif");
}
.icons > *:nth-child(3) {
  background-image: url("../img/icon-under-avatar-3.gif");
}

.right {
  align-self: stretch;
  margin-left: 12px;
  display: flex;
  flex-direction: column;
}

.username {
  display: flex;
  align-items: center;
}

.at {
  width: 13px;
  height: 13px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../img/icon-at-red.gif");
  margin-right: 5px;
}
.at.at-green {
  background-image: url("../img/icon-at.gif");
}

.name {
  font-size: 75%;
  line-height: 140%;
  color: rgb(8, 87, 166);
  text-decoration: underline;
  font-weight: bold;
  margin-right: 3px;
}

.triangle {
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../img/icon-triangle-down.gif");

  margin-right: 12px;
}

.role {
  font-size: 75%;
  font-weight: bold;
  color: #d98c19;
  margin-right: 3px;
}

.count {
  font-size: 70%;
  color: #d98c19;
}

.closed {
  font-size: 70%;
  color: #adacac;
}

.giftSticker {
  margin-top: 3px;
  display: flex;
  align-items: center;
  padding-left: 12px;

  font-size: 75%;
  color: gray;
  text-decoration: underline;
}

.gift {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../img/icon-gift.png");
}

.new {
  margin-left: 2px;
  width: 28px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../img/icon-new.png");
  transform: translateY(-5px);
}

.question {
  margin-top: 16px;
  font-weight: bold;
  color: #d98c19;
}

.bottom {
  margin-top: auto;
  display: flex;
}

.rating {
  display: flex;
  font-size: 75%;
  margin-right: 20px;
}
.rating > span:first-child {
  color: #b2b2b2;
  margin-right: 4px;
}
.rating > span:last-child {
  color: black;
  font-weight: bold;
}
.blue {
  text-decoration: underline;
  color: #0857a6 !important;
}
.hidden {
  display: none;
}

.bestAnswer {
  font-weight: bold;
  color: green;
  margin: 32px 0 8px;
}

.comment-green {
  background-color: #ecffe1;
  padding: 4px 0 8px;
}
.comment-green .left .photo {
  background-color: #ecffe1;
}
.comment-green .right {
  padding-top: 4px;
}

.date {
  display: flex;
  align-items: center;
  font-size: 65%;
  margin-left: 16px;
  color: gray;
}
.date div {
  margin-left: 8px;
  font-size: 120%;
}
.date div a {
  color: #0857a6;
  text-decoration: underline;
}

.answer {
  margin-top: 24px;
  font-size: 90%;
  letter-spacing: .01em;
}